# Dependencies
node_modules/

# Build output
frontend/dist/
.cache/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/
*.info

# Clarinet
**/settings/Mainnet.toml
**/settings/Testnet.toml
settings/Mainnet.toml
history.txt
costs-reports.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
settings/Testnet.toml